.container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 10px;
    border: 2px solid blue;
    border-radius: 50px;
}

.title {
    color: #78909C;
    font-size: 24px;
}

.button {
    background-color: #B2DFDB;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    &:hover {
        background-color: #46cdcf;
        color: #fff;
        cursor: pointer;
    }
}